 :root {
  /* ===== Brand ===== */

  --color-primary: #00BDFF;
  --color-primary-hover: #3081e6;
  --color-primary-active: #7be2ff;

  --color-accent: #7b61ff;
  --color-accent-hover: #917cff;
  --color-accent-active: #6548f5;

  --color-success: #22c55e;
  --color-warning: #ffb020;
  --color-danger: #ff5b6e;

  /* ===== Background hierarchy ===== */
  --bg-1: #010412;

  /* Sidebar, header */
  --bg-2: #154D91;

  /* Карточки */
  --bg-3: #083162;

  /* Hover */
  --bg-4: #1b3154;

  /* Selected Elements*/
  --bg-5: #23406d;
  /* Gradients*/
  --bg-gradient-1:linear-gradient(90deg,rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
  --bg-gradient-2: linear-gradient(90deg,rgba(21, 77, 145, 1) 100%, rgba(6, 23, 43, 1) 0%);
  --bg-gradient-3: linear-gradient(90deg,rgba(1, 4, 18, 1) 0%, rgba(21, 77, 145, 1) 100%);
  /* ===== Card backgrounds ===== */

  --card-default: var(--bg-3);
  --card-hover: var(--bg-4);
  --card-active: var(--bg-5);

  /* ===== Text ===== */

  --text-1: #ffffff;
  --text-2: #d4e3ff;
  --text-3: #9db3d8;
  --text-4: #7187aa;
  --text-disabled: #55657f;

  /* ===== Shadows ===== */

  --shadow-sm:
    0 2px 8px rgba(0,0,0,.25);

  --shadow-md:
    0 4px 16px rgba(0,0,0,.35);

  --shadow-lg:
    0 8px 32px rgba(0,0,0,.45);

  /* ===== Radius ===== */

  --radius-xs: 6px;
  --radius-sm: 10px;
  --radius-md: 16px;
  --radius-lg: 18px;
  --radius-xl: 24px;


}

body {
    background: var(--bg-1) !important;
}
[data-mj="root-layout"]{
        background: var(--bg-1) !important;
}

[data-mj="header"] {
  background: var(--bg-2)!important;
  border-radius: 0  0 8px 8px;
}
[aria-label="site-header"] {
  background: var(--bg-2)!important;
}


[data-mj="sidebar-section"] {
  background: var(--bg-gradient-1) !important;
 min-height: 56px!important; 
}
[data-mj="footer"] {
  background: var(--bg-gradient-3) !important;  
    border-radius: 8px 8px 0 0;
}
 [data-mj="sidebar-special-button"] a{
background: var( --color-primary)  !important;
height: 56px !important;
}
 [data-mj="sidebar-footer"] .sl-select__control {
  
 min-height: 56px!important; 
}
.sl-select__control {
    border: none !important;
    background: var( --color-primary)  !important;
 
}
 [data-mj="sidebar-section"] [variant="subtle"]  [role="button"]{
   background: var( --color-primary)  !important;
}
 [data-mj="sidebar-content"] [aria-label="arrow_left"] {
 background: var(--bg-2)!important;
min-height: 56px!important; 
 top: 32px !important;
 }
@media (min-width:1000px) {

      [data-mj="widget-bet-win"] div:first-child span {
border-radius: 16px !important;
height: 40px !important;
 }
 .keen-slider__slide{
min-height: 56px!important;  


} 
   [data-mj="header"] {
    margin-right: 16px;
    margin-left: 16px;
}

[data-mj="sidebar-content"] {
  background: var(--bg-2)!important;
}
}

 [data-mj="widget-bet-win"] div {
    background-color: transparent !important;
    
 }
 [data-mj="widget-top-providers-slider"] a {
    background: var(--bg-gradient-3) !important;
    
 }


@media (max-width:1000px) {

[data-mj="widget-bet-win"]::after {
  content: "";
  position: absolute;
  width: 100%;

  inset: 0;
  pointer-events: none;

  background:
    linear-gradient(
      90deg,
      rgba(0, 180, 255, 0.35) 0%,
      rgba(0, 180, 255, 0) 12%
    ),
    linear-gradient(
      270deg,
      rgba(0, 180, 255, 0.35) 0%,
      rgba(0, 180, 255, 0) 12%
    );

  border-radius: inherit;
}

  [data-mj="bottom-nav"] div{
      background: var(--bg-2)!important;
  }

    [data-mj="widget-bet-win"] div:first-child span {
border-radius: 12px !important;

 }
}
